<h1>Product Index Page</h1>

<h2>Cart List:</h2>
  <% cart.each do |product| %>
  <li><%= product %></li>
<% end %>

<%= form_tag ({controller: 'products',
    action: 'add',
    method: 'post'}) do %>
  <%= text_field_tag :product %>
   <%= submit_tag "add to cart" %>
<% end %>
